{% extends 'base.html.twig' %}

{% block title %}Tote Board{% endblock %}

{% block body %}
    <div class="tote-board">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div>
        <strong>{{ race_day.date|date('Y-m-d') }}</strong>
    </div>
{% endblock %}
